html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Jakarta Display', sans-serif;
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.pulse-effect {
  background-color: transparent;
  aspect-ratio: 1;
  width: 100%;
  border-radius: 100%;
  position: relative;
}

.circle {
  position: absolute;
  background-color: transparent;
  height: 60%;
  width: 60%;
  border-radius: 100%;
  opacity: 0.9;
  border: 8px solid white;
  animation: pulse 5s ease-out infinite;
  margin-top: 20%;
  margin-left: 20%;
}

.circle:nth-of-type(0) {
  animation-delay: -0s;
}
.circle:nth-of-type(1) {
  animation-delay: -1s;
}

.circle:nth-of-type(2) {
  animation-delay: -2s;
}

.circle:nth-of-type(3) {
  animation-delay: -3s;
}

.circle:nth-of-type(4) {
  animation-delay: -4s;
}

@keyframes pulse {
  100% {
    transform: scale(4);
    opacity: 0;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 500px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 680px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 920px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1060px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;